@page "/"


<h1>TimeLine</h1>
@*@if (Timeline == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{}*@

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @*SideMenuStuff*@
            <p>sidemenustuff</p>
        </div>
        <div class="col-md-8">
            @*TimeLine*@
            <p>TimeLine</p>
        </div>
        <div class="col-md-2">
            @*Connections*@
            <p>connections</p>
        </div>
    </div>
</div>
@code {

}
