@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>ScSoMeBlazorServer</PageTitle>
<header>
  <NavMenu />
</header>


<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

@*<footer>
    <FooterBar />
</footer>*@


@code {
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/Login");
            // NavigationManager.NavigateTo($"/Login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)
        }
    }
}
