@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<nav class="navbar navbar-expand-sm navbar-toggleable-sm backGroundColorNavBar border-bottom box-shadow mb-3">
    <div class="container">

        <a class="navbar-brand" href="">
            <img class="logoIcon" src="Icons/Rocket.png">
        </a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"><img class="profileIcon menuIcon" alt="user" src="Icons/MenuIcon.png"></span>
        </button>

        <CascadingAuthenticationState>
            <AuthorizeView>

                <NotAuthorized>

                    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                        <ul class="navbar-nav searchBar">

                            <div class="menu">

                                <a class="menuItem" href="">login</a>
                                <a class="menuItem" href="">signUp</a>
                            </div>

                        </ul>



                    </div>

                </NotAuthorized>

                <Authorized>



                    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                        <ul class="navbar-nav searchBar">

                            <div class="menu">
                                <a class="menuItem" href="profilePage">My Profile</a>
                                <a class="menuItem" href="timeline">Timeline</a>

                                <a class="menuItem" href="Connections">My Connections</a>
                                <a class="menuItem" href="Activities">My Activities</a>

                            </div>
                        </ul>
                        <ul class="navbar-nav flex-grow-1 searchBar">

                            <div class="menu">
                                <a class="menuItem" href="AllCoaches">Coaches</a>
                            </div>
                            <li class="nav-item navSearchItem">
                                <form id="form" @onsubmit="OnChange">
                                    <input type="search" id="query" name="q" placeholder="Search..." @oninput="@((arg) => ExecuteFilter(arg))">
                                    <button class="Button2" type="submit">Search</button>
                                </form>
                            </li>


                        </ul>



                    </div>
                </Authorized>
            </AuthorizeView>

        </CascadingAuthenticationState>

    </div>

</nav>


@code {
    bool collapseNavMenu = true;

    string searchField = "";

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void OnChange()
    {
        NavigationManager.NavigateTo($"/profilePage/{searchField}");
    }



    private void ExecuteFilter(ChangeEventArgs changeEventArgs)
    {
        if (changeEventArgs.Value != null)
        {
            searchField = changeEventArgs.Value.ToString();
        }

    }

}